# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
*.log

# Production
dist/
build/
.next/
out/

# Environment
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Uploads
uploads/

# Terraform
*.tfstate
*.tfstate.*
.terraform/

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Prisma
*.db
*.db-journal

#Guias Propias
GUIA_COMPLETA.html
SIGNATURE_SERVICE_DESGLOSE.html